@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: rgba(238, 229, 218, 0.993); }

h1 {
  font-family: 'Shalimar', cursive;
  color: #8660a8;
  text-align: center;
  margin: 20px;
  padding: 20px;
  animation-name: titulo-a;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

@keyframes titulo-a {
  0% {
    text-align: center; }
  25% {
    text-align: right; }
  50% {
    text-align: center; }
  75% {
    text-align: left; }
  100% {
    text-align: center; } }

.img-inicio {
  /* Imagenes de inicio*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap; }
  .img-inicio .img-inicio-1 {
    width: 20%;
    /* Fin de imagenes de inicio*/ }

.footer1 {
  position: relative;
  bottom: 0;
  width: 100%; }

.footer2 {
  /* Parrafo del footer*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: rgba(248, 143, 178, 0.89);
  color: hwb(276 9% 89%);
  font-size: 25px; }

.footer3 {
  /*Redes del footer*/
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly; }
  .footer3 .imgfooter {
    /*Imagenes de las redes del footer*/
    margin-top: 10px;
    height: 50px;
    width: 50px; }
  .footer3 .imgfooter:hover {
    /*animacion del footer*/
    height: 60px;
    width: 60px; }

h2 {
  color: hwb(272 43% 35%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 20px; }

.prod-size {
  /*Lista de productos*/
  list-style: none;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  color: hwb(0 0% 100%);
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%; }
  .prod-size .img-prod {
    /* Imagenes de productos*/
    display: flex;
    width: 60%;
    height: 55%; }

.promo-size {
  /*Lista promociones*/
  list-style: none;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  color: hwb(272 43% 35%);
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 50% 50%; }
  .promo-size .img-promo {
    /* Imagenes promociones*/
    display: flex;
    width: 250px;
    height: 200px; }

.p-parrafo {
  /*Parrafos fuera del footer*/
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: black; }

h3 {
  text-align: left;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  color: hwb(272 43% 35%); }

article {
  display: flex;
  align-items: flex-start; }
  article .borde-rec {
    /*Recetas*/
    width: 300px;
    border: solid rgba(233, 56, 203, 0.5);
    margin: 20px; }

iframe {
  /*Video de recetas*/
  padding-top: 30px;
  width: 540px;
  height: 360px; }

form {
  /*Formulario*/
  display: grid;
  grid-template-columns: 25%;
  grid-template-rows: 10% 10% 40% 10%;
  row-gap: 0px;
  justify-content: space-around; }

.button {
  /*Boton del formulario*/
  background-color: hwb(272 43% 35%);
  border-color: hwb(272 43% 35%);
  height: 30px; }
  .button:hover {
    background-color: rgba(248, 143, 178, 0.89);
    border-color: rgba(248, 143, 178, 0.89); }

.menu-padre {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(248, 143, 178, 0.89);
  font-family: 'Poppins', sans-serif; }
  .menu-padre a {
    text-decoration: none; }
  .menu-padre:hover {
    color: #000; }

@media screen and (max-width: 525px) {
  .menu-padre {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly; }
  .img-inicio {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .img-inicio .img-inicio-1 {
      width: 60%; }
  .prod-size {
    display: grid;
    grid-template-rows: 25%;
    grid-template-columns: 100%; }
  .promo-size {
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 100%; }
  .footer1 {
    position: relative;
    bottom: 0;
    width: 100%; }
  article {
    display: flex;
    flex-wrap: wrap; }
  iframe {
    width: 280px;
    height: 300px; } }
