@media screen and (max-width:525px) { 
    .menu-padre{ 
    padding: 10px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
 }  
    .img-inicio{ 
        display: flex;
        align-items: center;
        flex-direction: column;
         

    .img-inicio-1{
            width: 60%;
        }
    }
    .prod-size{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25%;
    }

    .promo-size{
        display: grid;
        grid-template-rows: 50%;
        grid-template-columns: 100%;
    }
    .footer1{
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    article {
    display: flex;
    flex-wrap: wrap;
     }
    
     iframe{
            width: 280px;
            height: 300px;
        }
    
  }

  
  
    
