body{
    background-color: rgb(241, 197, 238); 
} 

h1{
    /*titulo*/
    color: rgb(245, 186, 131);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}



.img-inicio{ /* Imagenes de inicio*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
}

.img-inicio-1{
    display: flex;
    width: 30%;
    /* Fin de imagenes de inicio*/
}

.marcadores{ /* Estilo del Menu*/
    list-style: none;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-style: hidden;
    border-width: medium;
    border-color: #e763968c; 
    background-color: #e763968c; 
    color: hwb(272 43% 35%);
}


h2{ /*Submenus*/
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: hwb(272 43% 35%);
}

.prod-size{ /*Lista de productos*/
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: hwb(272 43% 35%);
}

.img-prod{ /* Imagenes de productos*/
    display: flex;
    width: 20%;
    height: 20%;
}

h3{ 
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: hwb(272 43% 35%);
}

.p-parrafo{ /*Parrafos fuera del footer*/
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    display: inline-flex;

}

iframe{ /*Video de recetas*/
    padding-top: 30px;
    width:540px ;
    height:360px;
}

.footer2{ /* Parrafo del footer*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-style: hidden;
    border-width: medium; 
    background-color: #e763968c; 
    margin: 10px;
    color:hwb(272 43% 35%) ;

        
}

.footer3{ /*Redes del footer*/
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.imgfooter{ /*Imagenes de las redes del footer*/
    height: 50px;
    width: 50px;
}